#TOC {
    text-align: left !important;
    font-size: 0.8em;
}

#TOC ul {
    padding-left: 10px;
    list-style-type: none;
}

#TOC a {
    color: rgba(0,0,0,0.87);
}

.TOC-title {
    font-size: 1.3em;
}

.cover-card .author_name {
    display: block;
    color: #2f3184;
    font-size: 2em;
}

thead > tr > th {
    text-align: right !important;
}
tbody > tr > td {
    text-align: right !important;
}

